@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
:root {
  --bg-color: #131419;
  --font-color1: rgba(255, 255, 255, 0.87);
  --card-color: #ffffff10;
  --card-color-2: #ffffff20;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--bg-color);
  font-family: "Open Sans", sans-serif;
  color: var(--font-color1);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.15px;
}
.alert {
  font-size: 0.7rem;
  border-radius: 0.25rem;
  text-transform: capitalize;
  padding: 5px;
  font-size: 12px;
}
.alert-danger {
  color: #721c24;
  background: #f8d7da;
}
.alert-success {
  color: #155724;
  background: #d4edda;
}
.section-center {
  margin: 1rem;
  padding: 1rem;
  background-color: var(--card-color);
  width: 400px;
  min-height: 300px;
  border-radius: 40px;
  box-shadow: -2px -2px 3px 0px #ffffff25, 5px 5px 5px 0px rgba(0, 0, 0, 0.295);
  text-align: center;
}
.grocery-form {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grocery-input {
  width: 300px;
  height: 30px;
  padding-left: 25px;
  font-size: 15px;
  border: none;
  outline: none;
  color: var(--bg-color);
  background-color: #ecf0f3;
  border-radius: 8px;
  box-shadow: inset 2px 2px 4px #565758, inset -3px -3px 4px #ffffff;
}

.submit-button,
.clear-btn {
  margin-top: 0.5rem;
  width: 100px;
  padding: 5px;
  font-size: 15px;
  text-transform: capitalize;
  background-color: var(--card-color);
  color: var(--font-color1);
  box-shadow: -2px -2px 3px 0px #ffffff25, 5px 5px 5px 0px rgba(0, 0, 0, 0.295);
  border-radius: 10px;
  border: none;
  outline: none;
}

h2 {
  font-size: 2rem;
}
input {
  margin: 10px;
  padding: 2px;
}

.grocery-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  background-color: var(--card-color-2);
  margin: 10px;
  border-radius: 20px;
  box-shadow: -3px -3px 4px 0px #ffffff42, 5px 5px 5px 0px #121212;
  box-sizing: border-box;
}
.button-container {
  display: flex;
  gap: 10px;
}

.clear-btn {
  background-color: rgba(255, 0, 0, 0.356);
}
.edit-button,
.trash-button {
  background: transparent;
  border-color: transparent;
  color: var(--font-color1);
  cursor: pointer;
  font-size: 0.7rem;
  margin: 0 0.15rem;
}
@media screen and (max-width: 500px) {
  .section-center {
    width: 300px;
  }
}
